@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'spacetron';
    src: url('/fonts/spacetron.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}
